@import url(reset.css);

.templateRows {
    display: grid;
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: minmax(auto, 50%) 1fr 3em;
}

.templateColumns {
    display: grid;
    grid-template-columns: 3rem 25% 1fr 2fr;
}

.box {
    background-color: green;
    border: 3px solid black;
    color: white
}