@import url(reset.css);

.gridContainer {
    display: grid;
    grid-template-columns: 45px 60px;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.templateColumns {
    display: grid;
    grid-template-columns: 3rem 25% 1fr 2fr;
}

.box {
    background-color: green;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
}

.one {
    grid-row-start: header;
    grid-row-end: header;
    grid-column-start: header;
    grid-column-end: header;
}

.two {
    grid-area: sidebar;
}