@import url(reset.css);

.gridContainer {
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 0.5em;
    align-content: space-evenly;
    border: 5px solid black;
}

.templateColumns {
    display: grid;
    grid-template-columns: 3rem 25% 1fr 2fr;
}

.box {
    background-color: green;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
}

/* .one, .two, .three {
    grid-area: content;
}

.one {
    align-self: start;
}

.two {
    align-self: center;
}

.three {
    align-self: end;
} */